
@model RssMVC.Areas.Admin.Models.IndexAdminModel



@{
    ViewBag.Title = "Rss feed";
    Layout = "~/Views/Home/Index.cshtml";
}

<script src="@Url.Content("/Scripts/Tutorial.jsx")"></script>
<h2>Fontanka RSS Feed</h2>

@foreach (var item in Model.ListRss)
{
    @item.Title <br />
 
  
    
    <br />
    @item.Link <br />
    @Convert.ToDateTime(item.PubDate)
    }
  
    <br /><br />
}
